apiVersion: v1
kind: Secret
metadata:
  name: noobaa
data:
  quarkus.s3.aws.credentials.static-provider.access-key-id: 'MUVGdjhUczdheVBmd2NoVWpjeWk='
  quarkus.s3.aws.credentials.static-provider.secret-access-key: 'ZXdoWUNVRU5mUTVBL3VRaHhMeWZxL2pJUURaMGw5cndNYUNWTGhRRQ=='